<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
    <add name="OpenAuthDBContext" connectionString="server=127.0.0.1;user id=root;persistsecurityinfo=True;database=openauthdb;password=toor" providerName="MySql.Data.MySqlClient" />   
    </connectionStrings>
</configuration>